@define-color background #2d353b;
@define-color background-light #343f44;
@define-color background-lighter #3d484d;
@define-color foreground #d3c6aa;

@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;

@define-color grey #859289;
@define-color dark-grey #475258;

* {
    border: none;
    border-radius: 0;
    font-family: "FiraMono Nerd Font", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#workspaces button {
    padding: 0 10px;
    margin: 0;
    background-color: transparent;
    color: @grey;
}

#workspaces button:hover {
    background: @background-light;
    color: @foreground;
    box-shadow: inherit;
}

#workspaces button.active {
    background-color: @background-light;
    box-shadow: inset 0 -2px @aqua;
    color: @aqua;
    font-weight: 900;
}

#workspaces button.urgent {
    background-color: @red;
    color: @background;
}

#clock,
#cpu,
#memory,
#temperature,
#custom-power,
#custom-lang,
#pulseaudio,
#network,
#bluetooth,
#language,
#battery {
    padding: 0 10px;
    margin: 0 2px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

#clock {
    color: @blue;
    border-bottom-color: @blue;
}

#temperature {
    color: @yellow;
    border-bottom-color: @yellow;
}

#temperature.critical {
    color: @red;
    border-bottom-color: @red;
}

#memory {
    color: @purple;
    border-bottom-color: @purple;
}

#cpu {
    color: @green;
    border-bottom-color: @green;
}

#custom-power {
    color: @orange;
    border-bottom-color: @orange;
    font-size: 16px;
    padding-right: 14px;
}

#custom-lang,
#language {
    color: @aqua;
    border-bottom-color: @aqua;
}

#pulseaudio {
    color: @green;
    border-bottom-color: @green;
}

#network {
    color: @blue;
    border-bottom-color: @blue;
}

#bluetooth {
    color: @purple;
    border-bottom-color: @purple;
}

#battery {
    color: @yellow;
    border-bottom-color: @yellow;
}

#battery.warning {
    color: @orange;
    border-bottom-color: @orange;
}

#battery.critical {
    color: @red;
    border-bottom-color: @red;
}
